body {
  background: url("shay.jpg") 0 0 no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  color: #333;
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.img-avt { width: 40px; height: 40px; border:solid 2px #80cbc4; border-radius:2px;}
.btn { font-size: 13px;}
.v-sidebar{padding:0px; background: #fff; border:solid 1px #00695c;}
.v-menu-header {color: #eee; font-size:15px; width: 100%; padding:6px;background:#00695c; text-align: center;}
.v-menu-list {margin-top: 5px; list-style-type: none; padding:0px;font-size: 13px;line-height:25px;}
.v-menu-item { padding: 5px 0px 5px 20px; margin-left:0px; }
.v-menu-item:hover{background:#e0f2f1; }
.v-sub-menu-list {margin-top: 5px; list-style-type: none; padding:5px 0px;}
.comment-form{display: inline;}
.comment-box:focus { outline: none !important;border:1px solid #2BBBAD;box-shadow:none;}
.comment-form-action{margin-top: 20px;}