/*this is file store app common css*/
/*first update by tran nham on 16.05.2017*/

/*common css*/
body {
  background: transparent;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
a {
  color: #3aaa64;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #2d844e;
}
/*-----------end link text style-------------*/
.slider-header {
  background: #2BBBAD;
  margin-top: 60px;
  height:250px;
}
.main-content {
  background:white;
  margin-top: 30px;
}

.section-title {
  background: #f1f8e9;
  width:50%;
  margin-top: 40px;
  }
.hoc2h-list-heading {
  width: 100%;
  color: green;
}
.hoc2h-list-subtext{
  color: #3F729B;
}
.hoc2h-list-sub-body {
  width: 100%;
}
.hoc2h-list-subtext-right{
  float: right;
  font-size: 12px;
}
.hoc2h-list-subtext-left{
  float:left;
  font-size: 13px;
}

/* ======= Footer ======= */
.footer {
  background:#68c368;
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
.footer .copyright {
  line-height: 1.6;
  color:black;
  font-size: 14px;
}
.footer a {
  color: #fff;
}
.footer .fa-heart {
  color: #fb866a;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
