.qa-card {
  margin-top: 20px;
  box-shadow: none;
  border-bottom: solid 1px #81c784;
}
.qa-card:hover {
  background: #fafafa;
}
.post-header {
	margin:10px 0px 10px 20px;
}
.qa-show {	
  margin-top: 20px;
  box-shadow: none;
  border: solid 1px #81c784;
}

