.main-content{ background: #fff; padding:0px;}
.section {border:solid 1px #00695c;}
.list-group-item {border-bottom: solid 1px #b2dfdb;}
.main-title {color: #eee; font-size:20px; width: 100%; padding:5px;background:#00695c}
.test-title {font-size: 18px;}
a.test-title:hover{text-decoration: underline;}
.test-info {border:solid 1px #2BBBAD; padding: 50px;background: #fafafa;}
.comments-list {
	padding:10px;
}
.red-text{color: #ff4444;}
#test-result-content {border:solid 1px #2BBBAD; padding: 10px;}
#result-detail{display: none;}
#test-info{margin-top:10px; background:rgba(0, 150, 136, 0.05); padding:10px;}
.test-detail{color: #FF8800;}
#result-table {box-shadow: none; border-top:solid 1px #2BBBAD ;}
.explan-table {}