.main-title {color: #eee; font-size:20px; width: 100%;background:#00695c; padding-left:20px;}
.test-title {font-size: 18px;}
a.test-title:hover{text-decoration: underline;}
.test-info {border:solid 1px #2BBBAD; padding: 50px;background: #fafafa;}
.comments-list {
	padding:10px;
}
.red-text{color: #ff4444;}
#test-result-content {border:solid 1px #2BBBAD; padding: 10px;}
#result-detail{display: none;}
#test-info{margin-top:10px; background:#4db6ac ; padding:10px;}
#test-info > span {color: white;}
#result-table {box-shadow: none; border-top:solid 1px #2BBBAD ;}
.explan-table {}
